<img height='100px' width='100%' src='header.png'>

<%   if !user_signed_in? %>
<%= button_to "Log In", new_user_session_path, :method => :get, :form_class => "log_button", :id=>'log_in_button' %>
<% else %>
<%= button_to "Log Out", destroy_user_session_path, :method => :delete, :form_class => "log_button", :id=>'log_out_button'  %>
<% end %>
  <table width='90%'>
    <tr>
      <th>Item</th>
      <th>Status</th>
    </tr>
  <% @items.each do |item| %>
  <tr>
    <td>
<%= item.name %>
    </td>
    <% if item.on==true%>
  <td> <img  width = '10%' src='on.png' class='button' id=<%=item.id%>> </td>
    <td>
      <% else %>
      <td> <img  width = '10%' src='off.png' class='button' id=<%=item.id%>> </td>
      <%end%>
    </td>
  </tr>
<% end %>
<tr id="navigation">
  <td><%= link_to image_tag("http://auclc.com/Home_Button.png"), {:controller => 'home', :action => "index" } %></td>
  <td><%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/plump-by-zerode_/256/Control-Panel-icon.png"), {:controller => 'home', :action => "control" } %></td>
  <td><%= link_to image_tag("http://images.clipartpanda.com/gauge-clipart-gauge-for-temperature-3-hi.png", :width=>250), {:controller => 'home', :action => "monitor" } %></td>
</tr>
  </table>
