<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1421547268149102&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1421547268149102',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<style>body {background-color:#1D1145; color: white}</style>
<div id='whole' width="100%">
<table>
<h1 id="header" > HOME PAGE USER SIGNED IN </h1>
<tr id="top_row">
  <td>  <script type="text/javascript"
    src="http://localtimes.info/clock.php?continent=Oceania&country=New Zealand&city=Wellington&cp1_Hex=19ea28&cp2_Hex=0e0303&cp3_Hex=000000&fwdt=312&ham=0&hbg=0&hfg=0&sid=0&mon=0&wek=0&wkf=0&sep=0&widget_number=1000">
    </script></td>

  <td><div id='weather'>
<a href="http://www.accuweather.com/en/nz/wellington/250938/weather-forecast/250938" class="aw-widget-legal">
</a><div id="awcc1427848865754" class="aw-widget-current"  data-locationkey="" data-unit="c" data-language="en-us" data-useip="true"
data-uid="awcc1427848865754"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
</div></td>

  <td><div>

    <img src='http://a1.mzstatic.com/us/r1000/045/Purple/10/1e/b9/mzl.eryhxbkg.1024x1024-65.jpg' width="300" height = "120" ></img>
    <audio controls autoplay style="display:block"> <source src="http://lb.zenfm.be/zenfm.mp3" type="audio/mpeg"> Old Broswer Failure</audio>
    </div></td></tr>

<tr id="middle">
  <td>  <iframe src="https://touch.trademe.co.nz/" width="100%" height="600"></iframe></td>
  <td> <iframe src= "https://play.spotify.com/artist/0qT79UgT5tY4yudH9VfsdT"></iframe></td>
  <td><iframe src="http://30boxes.com/widget/8490214/JayDavis/522b524c31949faae63d84fb3a37e361/1/" width="100%" height="600"></iframe></td>


</tr>

<tr id="navigation">
  <td height="100px"><%= link_to image_tag("http://auclc.com/Home_Button.png", :height=>100), {:controller => 'home', :action => "index" } %></td>
  <td height="100px"><%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/plump-by-zerode_/256/Control-Panel-icon.png", :height=>100), {:controller => 'home', :action => "control" } %></td>
  <td height="100px"><%= link_to image_tag("http://images.clipartpanda.com/gauge-clipart-gauge-for-temperature-3-hi.png", :height=>100, :width=>100), {:controller => 'home', :action => "monitor" } %></td>
  <td height="100px"><%= link_to image_tag("http://png-2.findicons.com/files/icons/2320/x_mac_general/400/traffic_lights.png",:height=>100), {:controller => 'home', :action => "traffic" } %></td>
  <td height="100px"><%= link_to image_tag("https://lh4.ggpht.com/ezNJTCkXJ1EDq7Qspr56GIhT5qg_yzNIzHfKmRHZOC-ZCaLK7VFbRLRuEoPCi10-3Q=w300", :height=>100), {:controller => 'home', :action => "cams" } %></td>
  </tr>
</table>
</div>
<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
